<div class="container">
    <div class="results detail">
        <div>
            <img src="" alt="" />
            <div class="main-data">
                <p class="previous"></p>
                <h1></h1>
                <p class="price">
                    <span></span>
                    <sup></sup>
                </p>
                <a class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="description">
            <h2>Descripción del producto</h2>
            <p></p>
        </div>
    </div>
</div>