$header-background: #FFE600;
$body-background: #EEE;
$general-text-light: #999;
$general-text-medium: #666;
$general-text-dark: #333;
$general-button: #3483FA;
$general-radius: 4px;
$general-margin-low: 16px;
$general-margin-high: 32px;
$search-fontsize: 18px;
$search-magnifier: 6px;
$breadcrumb-fontsize: 14px;
$breadcrumb-height: 21px;
$result-image-height: 180px;
$result-price-fontsize: 24px;
$result-location-fontsize: 12px;
$detail-imageheight: 680px;
$detail-price-fontsize: 46px;
$detail-description-fontsize: 28px;
$user-white: #FFF;

body {
    background-color: $body-background;
    header.search {
        padding: 10px 0;
        background-color: $header-background;   
        img.logo {
            cursor: pointer;
            height: $search-fontsize*2;
        }
        form {
            display: inline-block;
            margin-left: 12px*2;
            width: calc(100% - 78px);
            input {
                border: 0;
                border-top-left-radius: $general-radius;
                border-bottom-left-radius: $general-radius;
                padding: $search-fontsize/72*17 $search-fontsize/9*7;
                font-size: $search-fontsize;
                width: calc(100% - 42px);
                &:focus {
                    outline: none;
                }
            }
            button {
                border: 0;
                padding: $search-magnifier $search-magnifier*2;
                border-top-right-radius: $general-radius;
                border-bottom-right-radius: $general-radius;
                background-color: $body-background !important;
            }
        }
    }
    ol.breadcrumb {
        background: transparent;
        padding: 0;
        margin: $general-margin-low 0;
        font-size: $breadcrumb-fontsize;
        color: $general-text-light;
        height: $breadcrumb-height;
        li.breadcrumb-item {
            &:not(:first-child) {
                &::before {
                    content: '>';
                    transform: scaleX(0.5);
                    padding-right: .75rem;
                }
                &:empty {
                    &::before {
                        content: '';
                    }
                }
            }
            &:last-child {
                font-weight: bold;
                &::before {
                    font-weight: normal;
                }
            }
            &:empty {
                width: $breadcrumb-fontsize*10;
                height: $breadcrumb-height;
                background-color: $general-text-light;
                margin: 0 4px 0 0;
                border-radius: $general-radius;
            }
            a {
                color: inherit !important;
                text-decoration: none !important;
            }
        }
    }
    div {
        &.results {
            background-color: $user-white;
            border-radius: $general-radius;
            margin-bottom: $general-margin-low;
        }
        &.result {
            cursor: pointer;
            padding: $general-margin-low;
            min-height: calc(#{$result-image-height} + #{$general-margin-low}*2);
            &.empty {
                cursor: default;
            }
            img.result {
                display: inline-block;
                border-radius: $general-radius;
                height: $result-image-height;
                width: $result-image-height;
                object-fit: cover;
                background-color: $general-text-light;
            }
            div {
                &.detalle, &.additionals {
                    display: inline-block;
                    vertical-align: top;
                    min-height: $result-image-height;
                    margin-left: $general-margin-low;
                }
                &.detalle {
                    width: calc(100% - #{$result-image-height}*1.75 - #{$general-margin-low}*2);
                    p:empty {
                        width: 100%;
                        height: 18px;
                        border-radius: $general-radius;
                        background-color: $general-text-medium;
                    }
                }
                &.additionals {
                    color: $general-text-light;
                    width: $result-image-height/1.5;
                    p {
                        margin-top: $general-margin-low;
                        font-size: $result-location-fontsize;
                        &:empty {
                            width: inherit;
                            height: $result-location-fontsize;
                            border-radius: $general-radius;
                            background-color: $general-text-light;
                        }
                    }
                }
                &.firstline {
                    width: 100%;
                    margin-bottom: $general-margin-high;
                    p, span {
                        color: $general-text-dark;
                        margin: 0;
                        font-size: 18px;
                        &.price {
                            display: inline-block;
                            color: $general-text-dark;
                            font-size: $result-price-fontsize;
                            &:empty {
                                width: $result-price-fontsize*4;
                                height: $result-price-fontsize*1.5;
                                border-radius: $general-radius;
                                background-color: $general-text-medium;
                            }
                        }
                    }
                    img.shipping {
                        display: inline-block;
                        vertical-align: top;
                        margin: $general-margin-low/2;
                        border-radius: 50%;
                    }
                }
                &.headline {
                    border: thin solid $body-background;
                    position: relative;
                    top: $general-margin-low*-1;
                    width: calc(100% - 8px);
                    left: 4px;
                }
            }
            &:first-child {
                div.headline {
                    display: none;
                }
            }
        }
        &.detail {
            color: $general-text-dark;
            img {
                width: $detail-imageheight;
                height: $detail-imageheight;
                object-fit: cover;
                background-color: $general-text-light;
                display: inline-block;
                border-top-left-radius: $general-radius;
            }
            div.main-data {
                width: calc(100% - #{$detail-imageheight} - #{$general-margin-low}*1.5);
                display: inline-block;
                vertical-align: top;
                padding: $general-margin-high $general-margin-low*1.5;
                p {
                    margin: 0;
                    margin-bottom: $general-margin-low;
                    &.previous {
                        font-size: 14px;
                        &:empty {
                            border-radius: $general-radius;
                            height: 21px;
                            width: 180px;
                            background-color: $general-text-light;
                        }
                    }
                    &.price {
                        font-size: $detail-price-fontsize;
                        &:empty {
                            border-radius: $general-radius;
                            height: $detail-price-fontsize*1.5;
                            width: 148px;
                            background-color: $general-text-light;
                        }
                        sup {
                            top: -.6em;
                            font-size: 0.5em;
                        }
                    }
                }
                h1 {
                    font-size: $result-price-fontsize;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: $general-margin-high;
                    &:empty {
                        height: $result-price-fontsize*1.5;
                        width: 100%;
                        border-radius: $general-radius;
                        background-color: $general-text-light;
                    }
                }
                a.btn.btn-primary {
                    background-color: $general-button;
                    color: $user-white;
                    font-size: 15px;
                    min-width: 220px;

                }
            }
            div.description {
                padding: $general-margin-high*1.5 $general-margin-high $general-margin-high;
                h2 {
                    margin-bottom: $general-margin-high;
                    font-size: $detail-description-fontsize;
                }
                p {
                    margin: 0;
                    color: $general-text-medium;
                    font-size: 16px;
                    white-space: pre-wrap;
                    &:empty {
                        width: 100%;
                        border-radius: $general-radius;
                        height: 16px;
                        background-color: $general-text-light;
                    }
                }
            }
        }
    }    
}
