$header-bgcolor: #FFE600;
$body-bgcolor: #EEE;
$general-lighttext: #999;
$general-mediumtext: #666;
$general-darktext: #333;
$general-buttoncolor: #3483FA;
$general-radius: 4px;
$general-size: 12px;
$search-fontsize: 18px;
$breadcrumb-fontsize: 14px;
$breadcrumb-height: 21px;
$low-margin: 16px;
$high-margin: 32px;
$result-imgmaxsize: 180px;
$result-pricesize: 24px;
$result-locationsize: 12px;
$detail-size: 680px;
$header-buttonsize: 6px;
$detail-pricesize: 46px;
$detail-description-title: 28px;

body {
    background-color: $body-bgcolor;
    header.search {
        padding: $general-radius*2.5 0;
        background-color: $header-bgcolor;   
        img.logo {
            cursor: pointer;
        }
        form {
            display: inline-block;
            margin-left: $general-size*2;
            width: calc(100% - 78px);
            input {
                border: 0;
                border-top-left-radius: $general-radius;
                border-bottom-left-radius: $general-radius;
                padding: 4.25px 14px;
                font-size: $search-fontsize;
                width: calc(100% - 42px);
                &:focus {
                    outline: none;
                }
            }
            button {
                border: 0;
                padding: $header-buttonsize $header-buttonsize*2;
                border-top-right-radius: $general-radius;
                border-bottom-right-radius: $general-radius;
                background-color: $body-bgcolor !important;
            }
        }
    }
    ol.breadcrumb {
        background: transparent;
        padding: 0;
        margin: $low-margin 0;
        font-size: $breadcrumb-fontsize;
        color: $general-lighttext;
        height: $breadcrumb-height;
        li.breadcrumb-item {
            &:not(:first-child) {
                &::before {
                    content: '>';
                    transform: scaleX(0.5);
                    padding-right: .75rem;
                }
                &:empty {
                    &::before {
                        content: '';
                    }
                }
            }
            &:last-child {
                font-weight: bold;
                &::before {
                    font-weight: normal;
                }
            }
            &:empty {
                width: $breadcrumb-fontsize*10;
                height: $breadcrumb-height;
                background-color: $general-lighttext;
                margin: 0 $general-radius 0 0;
                border-radius: $general-radius;
            }
        }
    }
    div {
        &.results {
            background-color: #FFF;
            border-radius: $general-radius;
            margin-bottom: $low-margin;
        }
        &.result {
            cursor: pointer;
            padding: $low-margin;
            min-height: calc(#{$result-imgmaxsize} + #{$low-margin}*2);
            &.empty {
                cursor: default;
            }
            img.result {
                display: inline-block;
                border-radius: $general-radius;
                height: $result-imgmaxsize;
                width: $result-imgmaxsize;
                object-fit: cover;
                background-color: $general-lighttext;
            }
            div {
                &.detalle, &.additionals {
                    display: inline-block;
                    vertical-align: top;
                    min-height: $result-imgmaxsize;
                    margin-left: $low-margin;
                }
                &.detalle {
                    width: calc(100% - #{$result-imgmaxsize}*1.75 - #{$low-margin}*2);
                    p:empty {
                        width: 100%;
                        height: $search-fontsize;
                        border-radius: $general-radius;
                        background-color: $general-mediumtext;
                    }
                }
                &.additionals {
                    color: $general-lighttext;
                    width: $result-imgmaxsize/1.5;
                    p {
                        margin-top: $low-margin;
                        font-size: $result-locationsize;
                        &:empty {
                            width: inherit;
                            height: $result-locationsize;
                            border-radius: $general-radius;
                            background-color: $general-lighttext;
                        }
                    }
                }
                &.firstline {
                    width: 100%;
                    margin-bottom: $high-margin;
                    p, span {
                        color: $general-darktext;
                        margin: 0;
                        font-size: $search-fontsize;
                        &.price {
                            display: inline-block;
                            color: $general-darktext;
                            font-size: $result-pricesize;
                            &:empty {
                                width: $result-pricesize*4;
                                height: $result-pricesize;
                                border-radius: $general-radius;
                                background-color: $general-mediumtext;
                            }
                        }
                    }
                    img.shipping {
                        display: inline-block;
                        vertical-align: top;
                        margin: $low-margin/2;
                        border-radius: 50%;
                    }
                }
                &.headline {
                    border: thin solid $body-bgcolor;
                    position: relative;
                    top: $low-margin*-1;
                    width: calc(100% - #{$general-radius}*2);
                    left: $general-radius;
                }
            }
            &:first-child {
                div.headline {
                    display: none;
                }
            }
        }
        &.detail {
            color: $general-darktext;
            img {
                width: $detail-size;
                height: $detail-size;
                object-fit: cover;
                background-color: $general-lighttext;
                display: inline-block;
                border-top-left-radius: $general-radius;
            }
            div.main-data {
                width: calc(100% - #{$detail-size} - #{$low-margin}*1.5);
                display: inline-block;
                vertical-align: top;
                padding: $high-margin $low-margin*1.5;
                p {
                    margin: 0;
                    margin-bottom: $low-margin;
                    &.previous {
                        font-size: $breadcrumb-fontsize;
                    }
                    &.price {
                        font-size: $detail-pricesize;
                        sup {
                            top: -.6em;
                            font-size: 0.5em;
                        }
                    }
                }
                h1 {
                    font-size: $result-pricesize;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: $high-margin;
                }
                a.btn.btn-primary {
                    background-color: $general-buttoncolor;
                    color: #FFF;
                    font-size: $general-size*1.25;
                    min-width: 220px;

                }
            }
            div.description {
                padding: $high-margin*1.5 $high-margin $high-margin;
                h2 {
                    margin-bottom: $high-margin;
                    font-size: $detail-description-title;
                }
                p {
                    margin: 0;
                    color: $general-mediumtext;
                    font-size: $low-margin;
                    &.empty {
                        background-color: $general-lighttext;
                    }
                }
            }
        }
    }    
}
