extends layout.pug
block content
    div(ng-app='meli-example',ng-controller='detailController')
        .container
            ol.breadcrumb(ng-hide="categories && categories.length")
                li.breadcrumb-item(ng-repeat="ca in [].constructor(3) track by $index")

            ol.breadcrumb(ng-show="categories && categories.length")
                li.breadcrumb-item(ng-repeat="category in categories track by $index") {{category}}
            .results.detail
                div
                    img(ng-src="{{item.thumbnail}}")
                    .main-data
                        p.previuos {{item.condition}} - {{item.sold_quantity}} vendidos
                        h1 {{item.title}}
                        p.price 
                            span {{item.price}}
                            sup 00
                        a.btn.btn-primary(ng-click="buyItem()") Comprar
                .description 
                    h2 Descripción del producto
                    p {{item.description}}
block scripts
    script(src="scripts/models/result.js")
    script(src="scripts/models/detail.js")