extends layout.pug
block content
    div(ng-app="meli-example",ng-controller="errorController")
        input(id='errorCode',type="hidden",value!=status)
        .container
            .error(ng-if="::codigo == 500")
                img(src="images/emoji-sleep.png")
                h1 ¡Pssst! 
                p Parece que el servidor duerme. Despertalo y volvé.
            .error(ng-if="::codigo == 404")
                img(src="images/emoji-angry.png")
                h1 ¡Acá no hay nadie!
                p Probá buscando algo nuevo ;)