doctype html  
html(lang='es-ar')  
 head
    title!=title
    base(href="/")
    link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/popper.js/dist/umd/popper.min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-route/angular-route.min.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/results.js")
    script(src="scripts/controllers/detail.js")
    block scripts
    script(src="scripts/main.js")
 body(ng-app='meli-example',ng-controller='mainController')
    header.search
        .container
            img.logo(src="images/Logo_ML.png", ng-click="goHome()")
            form
                input(type="text",placeholder="Nunca dejes de buscar",ng-model="querySearch",ng-model-options="{ 'updateOn': 'keyup' }",ng-enter="searchItems()")
                button(ng-click="searchItems()")
                    img(src="images/ic_Search.png")
    block content